
.icon-mail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-down-big:before { content: '\e803'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */